<a href="https://colab.research.google.com/github/vrushalee18/PythonBeginner/blob/main/PythonBeginner_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Agenda: Loops, lists, and tuples**

1.Loops

What are they?

for loops

for loops a number of times

while loops

Breaking out of a loop

2.Lists

What are lists?

How are lists similar to strings?

How are lists different from strings?

Looping over lists

Lists are mutable -- how to add to or remove from a list

3.Strings to lists, and back

Turn a string into a list (with str.split)

Turn a list of strings into a string (with str.join)

4.Tuples

What are they? (What do we care?)

Tuple unpacking, and how great it is

**DRY -- don't repeat yourself!**

This is one of the most important rules in all of programming. ("Pragmatic Programmer" book first told me about it.)


If you have some code that repeats itself, several lines in a row, then you should find a way to avoid doing that.

In [1]:
s = 'abcde'

# I want to print all of the characters in the string s
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])

a
b
c
d
e

In [2]:
# this does give us the right answer!
# but it's a huge violation of the DRY rule

# this is where a loop comes in handy -- a loop lets us tell the programming language
# that we want to do something multiple times

**What are for loops?**

1.They work on "iterable" objects, meaning objects that know how to work in for loops

2.Basically, that means any "container" object, which has inside of it other objects

3.If we iterate over that object, we'll get (in each iteration) a new value

4.The for loop will typically run once for each value we'll get in an object

In [3]:
s = 'abcde'

# we start with the "for" keyword
# then comes a variable, which we're defining via the "for" loop
# then we have the "in" keyword
# then we have the iterable object -- what we're asking for multiple values
# then there's a colon, and indentation

# the loop body, as it's known, as can be as long as you want
# the loop body can contain ANYTHING at all -- if/else, for, print, input, assignment

# with each iteration, the "for" loop asks the object for its next value
# that value is assigned to the loop variable (here, one_character)
# we then execute the loop body with the loop variable assigned to an element of our object

# at some point, the for loop turns to the object and asks for the next item
# the object says: No more! I'm done!
# at that point, we exit from the loop

# we don't need an index, because we get the values
# how do we get one character at a time from s? Is it because we called our variable one_character?
#   NO NO NO NO NO!
#   strings always return one character at a time when you iterate over them
#   I chose the variable name one_character because I thought it made the program easier to read/maintain

for one_character in s:
    print(one_character)

a
b
c
d
e

**Exercise: Vowels, digits, and others**

1.Define three variables: vowels, digits, and others, all set to 0.

2.Ask the user to enter a string.

3.Go through the string, one character at a time. For each character, determine:
  
  -Is it a vowel? If so, add 1 to vowels
  
  -Is it a digit? If so, add 1 to digits

  -In all other cases, add 1 to others.

Print the values of all variables.

Example:

Enter a string: hello123 !!

vowels: 2

digits: 3

others: 6

In [4]:
vowels = 0
digits = 0
others = 0

s = input('Enter a string: ').strip()    # get input from the user, then remove leading/trailing whitespace, then assign to s

for one_character in s:
    if one_character in 'aeiou':     # is the character a vowel?
        vowels += 1
    elif one_character.isdigit():    # is the character a digit?
        digits += 1
    else:
        others += 1

print(f'vowels = {vowels}')
print(f'digits = {digits}')
print(f'others = {others}')

Enter a string: hello123 !!
vowels = 2
digits = 3
others = 6

**Special characters**

Normally, a string contains characters that are printed in an obvious way. "a" will be printed as "a" and "!" will be printed as "!".

But sometimes, we want to print special values. And for those, we need to put a combination of characters in our string. These special characters are normally written in our string starting with \ and then one or more other characters. Some common ones:

\n -- newline

\t -- tab

In [5]:
print('abcd\nefgh')   # \n is one character, written as two, that adds a newline to the print

abcd
efgh

In [6]:
s = '     a     b      c    '

len(s)

23

In [7]:
s = '     a     b      c    '

len(s)

23

In [8]:
# strip removes whitespace (spaces, \n, \t, \r, \v) from the EDGES of the string,
# not from the middle of it

len(s.strip())

14

In [9]:
# += means: + and then assign

x = 100
x = x + 5   # this evaluates to x = 105, which then assigns
x

105

In [10]:
# exactly the same thing to say:

x = 100
x += 5
x

105

In [11]:
# improved version, handling capital letters (vowels), too:

vowels = 0
digits = 0
others = 0

s = input('Enter a string: ').strip()    # get input from the user, then remove leading/trailing whitespace, then assign to s

for one_character in s.lower():      # check all characters lowercase, so A and a are both considered vowels
    if one_character in 'aeiou':     # is the character a vowel?
        vowels += 1
    elif one_character.isdigit():    # is the character a digit?
        digits += 1
    else:
        others += 1

print(f'vowels = {vowels}')
print(f'digits = {digits}')
print(f'others = {others}')

Enter a string: hello123 !!
vowels = 2
digits = 3
others = 6

In [12]:
# Python won't stop you from writing this.. it just won't do what you want

x = 100
x += 5   # this means: x = x + 5
x

105

In [13]:
x = 100
x =+ 5   # what does this mean?   it basically means x = 5
x

5

In [14]:
# improved version, handling capital letters (vowels), too:

vowels = 0
digits = 0
others = 0

s = input('Enter a string: ').strip()    # get input from the user, then remove leading/trailing whitespace, then assign to s

for one_character in s.lower():      # check all characters lowercase, so A and a are both considered vowels
    if one_character in 'aeiou':     # is the character a vowel?
        print(f'\t"{one_character}" is a vowel')
        vowels += 1
    elif one_character.isdigit():    # is the character a digit?
        print(f'\t"{one_character}" is a digit')
        digits += 1
    else:
        others += 1
        print(f'\t"{one_character}" is other')


print(f'vowels = {vowels}')
print(f'digits = {digits}')
print(f'others = {others}')

Enter a string: hello123 !!
	"h" is other
	"e" is a vowel
	"l" is other
	"l" is other
	"o" is a vowel
	"1" is a digit
	"2" is a digit
	"3" is a digit
	" " is other
	"!" is other
	"!" is other
vowels = 2
digits = 3
others = 6

In [15]:
# what if I'm in a really great mood (because I'm teaching Python) I want to say that in Python!

print('Hooray!')
print('Hooray!')
print('Hooray!')

Hooray!
Hooray!
Hooray!

In [16]:
# I realize that I've violated the DRY rule, and I decide to use a "for" loop

for i in 3:
    print('Hooray!')

TypeError: ignored

**Integers aren't iterable!**

If you want to iterate a certain number of times, you cannot do it directly on an integer.

Instead, you need to use the range function, which takes an integer as an argument, and then lets you iterate that number of times.

In [18]:
for i in range(3):
  print(f'{i} Hooray!')

0 Hooray!
1 Hooray!
2 Hooray!

In [19]:
# wait... what is the value of i in each iteration?

# when you iterate over range(n), you'll get integers starting at 0, going up by 1,
# until (and not including) the n you chose.

**Exercise: Name triangles**

Ask the user to enter their name.

Print the name in a triangle, such that:

The first line prints the name's first letter

The second line prints the name's first 2 letters

The third line prints the name's first 3 letters

...

The final line prints the entire name

Example:

Enter your name: Vrushalee

V

Vr

Vru

Vrus

Vrush

Vrusha

Vrushal

Vrushale

Vrushalee

Some things to remember:

You can get the length of a string with len


You can get a slice (substring) of characters in a string with [start:end]

range works up to and not including the number you specified, starting with 0

While [] normally only let you choose an element up to len(s) - 1, if you're

using a slice, then the boundaries are not checked.

In [20]:
name = input('Enter name: ').strip()

for end_index in range(len(name)):
    print(name[:end_index+1])

Enter name: Vrushalee
V
Vr
Vru
Vrus
Vrush
Vrusha
Vrushal
Vrushale
Vrushalee

In [25]:
# how can I print a string, one charater at a time, *backwards*?
# two possiblities that are similar

# option 1: reverse the string, and iterate over it
# we can reverse a string by using a slice INCLUDING the third, optional number -- the step size
# s[2:10:2]  -- from index 2, until (not including) index 10, step size 2
# s[::2]  -- from  start to end, step size 2
# s[::-1]  -- from  start to end, step size -1 -- meaning, reversed

s = 'abcd'
for one_character in s[::-1]: # now we'll print the characters in s reversed
    print(one_character)

d
c
b
a

In [26]:
s = 'abcd'   # indexes 0-1-2-3

s[:3]        # up to, but not including, index 3

'abc'

In [27]:
s[:3+1]

'abcd'

In [28]:
# other option is similar: give range two more (optional) arguments: the end number and the step size

**Next up**

while loops

Where's the index? How can we compensate?

**while loops**

Whereas a for loop goes through each element of a string/range and does the same action on it, until we reach the end, a while loop keeps executing the loop body so long as a condition is True.

This is very similar to an if statement, except that it repeats checking the condition. Only when the condition is False does the while loop exit.

In [29]:
x = 5

while x > 0:   # so long as x is > 0...
    print(x)
    x -= 1     # x = x - 1   or: take 1 away from x

5
4
3
2
1

**Warning!**

What if the condition is always True?

You have an infinite loop! Be careful with your condition, and make sure that something is changing regarding the condition across iterations.

**Exercise: Sum to 100**

1.Define total to be 0

2.Using a while loop, ask the user to enter a number.

(If you want, you can check that they entered an actual number.)

3.Add that number to total, and print the current value of total.

4.If we have reached 100 or more, stop. (Note: This condition will be at the top of the while loop, not the bottom.)

Example:

Enter a number: 10

10

Enter a number: 30

40

Enter a number: 50

90

Enter a number: 30

120

In [2]:
total = 0
while total < 100:
    s = input('Enter a number: ').strip()
    n = int(s)   # get an integer based on the user's input
    total += n
    print(f'\tCurrently, total is {total}')

print(f'Final total = {total}')

Enter a number: 10
	Currently, total is 10
Enter a number: 30
	Currently, total is 40
Enter a number: 50
	Currently, total is 90
Enter a number: 30
	Currently, total is 120
Final total = 120

In [3]:
total = 0

while total < 100:
    s = input('Enter a number: ').strip()
    n = int(s)   # get an integer based on the user's input
    total += n
    print(f'\tCurrently, total is {total}')

print(f'Final total = {total}')

Enter a number: 50
	Currently, total is 50
Enter a number: 20
	Currently, total is 70
Enter a number: 10
	Currently, total is 80
Enter a number: -10
	Currently, total is 70
Enter a number: 50
	Currently, total is 120
Final total = 120

In [4]:
total = 0

while total < 100:
    num = input("Enter a number")
    total = total + int(num)
    print(f"o valor é {total}")

Enter a number90
o valor é 90
Enter a number20
o valor é 110

In [5]:
# let's implement the same thing
# BUT we'll stop the loop either if we reach 100 or if the user enters a non-digit

total = 0

while total < 100:
    s = input('Enter a number: ').strip()

    if not s.isdigit():   # does the user's string NOT contain only digits?
        print(f'Non-numeric input; exiting the loop')
        break             # this means: exit the loop RIGHT AWAY, NOW

    n = int(s)   # get an integer based on the user's input
    total += n
    print(f'\tCurrently, total is {total}')

print(f'Final total = {total}')

Enter a number: 30
	Currently, total is 30
Enter a number: 70
	Currently, total is 100
Final total = 100

In [6]:
while True:    # notice -- an infinite loop!
    name = input('Enter your name: ').strip()

    if name == '':
        break

    print(f'Hello, {name}.')

Enter your name: vrushalee
Hello, vrushalee.
Enter your name: world
Hello, world.
Enter your name:

In [7]:
# why not negative numbers?
# if we use .isdigit(), then it only returns True for non-empty strings containing ONLY 0-9
# if you want to really check for numbers, you need to use a different technique

**Where's the index?**

In other programming languages, the for loop is in charge of itself. Meaning: It typically goes through a bunch of numeric indexes, and then uses those indexes to retrieve values at different locations.

In Python, the for loop is actually quite dumb and passive. It doesn't know how many values it'll get, or what types of values it'll get. The object on which we're running the loop determines these.

Strings are defined to give us one character at a time, from the start until the end.

Different data structures have different rules in for loops for what they return.

Other languages need the index, because they cannot rely on the objects to give us something new and useful each time. Python can, so we don't need the index...

... except when we do.

There are definitely times when we want to have an index around. There are two ways to do that:

In [8]:
# option 1: Use an "index" variable that we keep track of

index = 0

for one_character in 'abcd':
    print(f'{index}: {one_character}')
    index += 1

0: a
1: b
2: c
3: d

In [9]:
# option 2: Use the "enumerate" function that comes with Python
# enumerate wraps itself around an iterable object (e.g., a string)
# and it returns TWO things with each iteration -- an index, and a value

for index, one_character in enumerate('abcd'):
    print(f'{index}: {one_character}')

0: a
1: b
2: c
3: d

**Control of our loops**

We earlier saw that we can use break to stop a loop right away, continuing with the code after the loop's end.

There's another control statement called continue, which immediately goes to the next iteration, but doesn't exit the loop. This is especially useful if there are common values you want to ignore/throw out in your for loop. This way, you can have a quick if/continue at the top of the loop.

**Exercise: Sum digits**

1.Define total to be 0.

2.Ask the user, repeatedly, to enter a string. You should stop asking if/when total is >= 40.

3.Go through the user's string, one charater at a time. (Yes, this means having a for loop inside of a while loop!)

4.If a character is a non-digit, then continue onto the next iteration (i.e., the next character)

5.If a character is a digit, then turn it into an int, and add it to total.

Example:

Enter a string containing digits: 12345

Current value is 15

Enter a string containing digits: a1b2c3

Enter a string containing digits: 9999

Current value is 51  [EXITS]

In [10]:
total = 0

while total < 40:   # only ask the user for input so long as total is <40
    s = input('Enter a string: ').strip()

    for one_character in s:
        if not one_character.isdigit():
            print(f'\t{one_character} is not a digit')
            continue

        total += int(one_character)   # get an integer based on one_character, and add to total

    print(f'total = {total}')

Enter a string: 12345
total = 15
Enter a string: 15
total = 21
Enter a string: 89
total = 38
Enter a string: abc
	a is not a digit
	b is not a digit
	c is not a digit
total = 38
Enter a string: 9999
total = 74

In [11]:
total = 0

while total < 40:   # only ask the user for input so long as total is <40
    s = input('Enter a string: ').strip()

    already_warned = False
    for one_character in s:

        if not one_character.isdigit():
            if not already_warned:
                already_warned = True
                print(f'\t{one_character} is not a digit')
            continue

        total += int(one_character)   # get an integer based on one_character, and add to total

    print(f'total = {total}')

Enter a string: 1234
total = 10
Enter a string: ji
	j is not a digit
total = 10
Enter a string: 40
total = 14
Enter a string: 890
total = 31
Enter a string: hello
	h is not a digit
total = 31
Enter a string: 9999
total = 67

In [12]:
total = 0

while total >= 40:
     s = input('enter a number: ').strip()
     for one_character in s:
         if not one_character.isdigit():
             print(f'\t{one_character} is a not a digit')
             continue

         total += int(one_character)
     print(f'total = {total}')

print('Done!')

Done!

**Next up:**

1.Lists! What are they, and how can we create them (and use them)?

2.Strings to lists, and back

**Lists**

So far, we've seen that strings contain characters. This is great for searching, storing, etc. charactres.

But it's pretty restrictive. We want to store other kinds of things, such as integers. We might even want to modify the values along the way. (Remember, strings cannot be modified -- they are "immutable.")

For that, we have lists. Many people who come from other languages think that they should call lists "arrays." But they aren't arrays!

A technical definition of lists would be something like, "An ordered, mutable collection of objects of any type."

You can put anything inside of a list. And it's considered traditional to put only one type of value in a list, but Python won't stop you from mixing them up.

In [13]:
# here is how I define a list:
# I use []
# I separate the elements with ,

mylist = [10, 20, 30, 40, 50]

In [14]:
type(mylist)           # what kind of data structure is this?

list

In [16]:
# lists have many things in common with strings
# how many elements are there?
len(mylist)

5

In [17]:
# I want the first element - -it's at index 0
mylist[0]

10

In [18]:
# I can get a slice
mylist[1:3]   # from index 1, until (not including) index 3

[20, 30]

In [19]:
# I can run a for loop on a list, getting each element, one at a time

for one_item in mylist:
    print(one_item)

10
20
30
40
50

In [20]:
# snake_case is the standard for ALL VARIABLES in Python, regardless of data type
my_favorite_list = [10, 20, 30]

In [21]:
# lists are different... we can store integers in them

for one_item in mylist:
    print(f'{one_item} * 3 = {one_item*3}')

10 * 3 = 30
20 * 3 = 60
30 * 3 = 90
40 * 3 = 120
50 * 3 = 150

In [22]:
# can I have a list inside of another list? YES!

mylist = [10, 20, 30]
biglist = [mylist, mylist, mylist]

In [24]:
mylist

[10, 20, 30]

In [25]:
biglist

[[10, 20, 30], [10, 20, 30], [10, 20, 30]]

In [26]:
# what is the len of biglist?
len(biglist)

3

In [27]:
# can I change a string? (No)

s = 'abcde'

In [28]:
s[0] = '!'   # can I do this?

TypeError: ignored

In [29]:
# what about our lists?

mylist[0] = '!'

In [30]:
mylist

['!', 20, 30]

In [31]:
biglist  # which we defined earlier to be [mylist, mylist, mylist]

[['!', 20, 30], ['!', 20, 30], ['!', 20, 30]]

**We can modify a list's size, too!**

So far, we've seen that we can modify an existing value in a list. Can we add to the number of elements in a list? Yes, using the list.append method, which adds an element to the end of the list.

We can remove the final element of a list with list.pop. This removes and returns whatever was at the end.

In [32]:
mylist = [10, 20, 30]
mylist.append(40)
mylist.append(50)

mylist

[10, 20, 30, 40, 50]

In [33]:
# what if I try to add multiple things at once?

mylist.append([100, 200, 300])  # this will work poorly!

In [34]:
mylist

[10, 20, 30, 40, 50, [100, 200, 300]]

In [35]:
# how can we get rid of what we just added?

mylist.pop()

[100, 200, 300]

In [36]:
# is there a way for us to add more than one thing at a time?
# answer: Yes, use +=

mylist = [10, 20, 30]
mylist += [40, 50, 60, 70]  # += basically runs a for loop on the list, adding each element to the end of mylist
mylist

[10, 20, 30, 40, 50, 60, 70]

In [37]:
mylist = [1,2,3,'Two','Twelve']

mylist[1:3]  # this means: from index 1 until (not including) index 3.

[2, 3]

**Exercise: Vowels, digits, and others -- list version**

1.Define three empty lists (i.e., just [] with nothing in them)

2.Ask the user to enter a string.

3.Go through each character in the string, deciding:

-Is it a vowel? If so, append it to vowels

-Is a digit? If so, append it to digits

-Is it neither, then append it others

At the end, print the lists, containing the characters from our user's input.

In [1]:
vowels = []
digits = []
others = []

s = input('Enter a string: ').strip()

for one_character in s:
  if one_character in 'aeiou':
    vowels.append(one_character)
  elif one_character.isdigit():
    digits.append(one_character)
  else:
    others.append(one_character)

print(f'vowels = {vowels}')
print(f'digits = {digits}')
print(f'others = {others}')

Enter a string: hello123!
vowels = ['e', 'o']
digits = ['1', '2', '3']
others = ['h', 'l', 'l', '!']

In [3]:
# let's say I want to add to a list

mylist = [10, 20, 30]
mylist.append(40)   # this is the right way!
mylist

[10, 20, 30, 40]

In [4]:
mylist = mylist.append(50)   # this is the WRONG way! You will erase your list this way!

print(mylist)

None

**Exercise: Big and small**

1.Define two empty lists, big and small

2.Ask the user to enter a numeric threshold, into the variable threshold.

3.Ask the user to enter, one by one, integers.

4.If they enter an empty string, stop asking and just show big and small.

5.If they enter non-digits, scold them a bit

6.If they enter a number, check if it's larger than the threshold. If so, the number goes into big. Otherwise, it goes into small.

7.Print big and small.

Example:

-Enter a threshold: 5

-Enter a number: 3   

-Enter a number: 22

-Enter a number: 2

-Enter a number: 8

-Enter a number: [ENTER]

-big: [22, 8]

-small: [3, 2]

In [9]:
big = []
small = []

threshold = int(input('Enter a threshold number: ').strip())

while True:                   #potentially dangerous -- better make sure we have an escape hatch
    s = input('Enter a number: ').strip()

    if s == '':
      break

    if not s.isdigit():
      print(f'Only digits, Enter input again')
      continue


    n = int(s)

    if n > threshold:
        big.append(n)
    else:
        small.append(n)

print(big)
print(small)

Enter a threshold number: 5
Enter a number: 3
Enter a number: 22
Enter a number: 2
Enter a number: 8
Enter a number:
[22, 8]
[3, 2]

**Next up**

Joining and splitting

Tuples

In [10]:
# let's assume that we have a string that looks like this:

s = 'abcd:ef:ghi'

# we see not just a bunch of characters, but also three "fields" in this string

# how can we turn this string into a list of those fields?

# answer: the "str.split" method, a string method that always returns a list of strings.

# we also have to specify what character(s) should be seen as the field separator

s.split(':')   # this returns a new list of strings, and does NOT modify s

['abcd', 'ef', 'ghi']

In [11]:
# I could say:

s.split('d')

['abc', ':ef:ghi']

In [12]:
s = 'abcd,ef,,ghi'

s.split(',')  # this is pretty common

['abcd', 'ef', '', 'ghi']

In [13]:
# what about words in a sentence?

s = 'this is a bunch of words for my Python class'

s.split(' ')

['this', 'is', 'a', 'bunch', 'of', 'words', 'for', 'my', 'Python', 'class']

In [14]:
# what about this:

s = 'this is    a bunch  of words    for my     Python class'

s.split(' ')

['this',
 'is',
 '',
 '',
 '',
 'a',
 'bunch',
 '',
 'of',
 'words',
 '',
 '',
 '',
 'for',
 'my',
 '',
 '',
 '',
 '',
 'Python',
 'class']

In [15]:
# we can avoid this problem by splitting without an argument

# that forces split to use all whitespace (space, \n, \r, \t, \v)
# of any length

mylist = s.split()  # this is the best and easiest way!
mylist

['this', 'is', 'a', 'bunch', 'of', 'words', 'for', 'my', 'Python', 'class']

**Exercise: Summing numbers**

Define total to be 0.

Ask the user to enter a string containing integers separated by spaces.

Go through each of the numbers in the string, one by one. If it's not numeric, ignore it/scold the user.

If it is numeric, then add to total.

Print total.

In [16]:
total = 0

s = input('Enter some numbers: ').strip()

for one_number in s.split():
  if one_number.isdigit():
    total += int(one_number)

  else:
    print(f'Hey! {one_number} is not numeric; ignoring')

print(total)

Enter some numbers: 10 20 30 40
100

**Joining with str.join**

What happens if you have a list of strings, and you want to turn them into a single string.

Example: If I have mylist = ['abcd', 'ef', 'ghi'] as a list of strings, I can join it together, putting spaces between the elements, with

**glue**

' '.join(mylist)

In [17]:
mylist = ['abcd', 'ef', 'ghi']
' '.join(mylist)

'abcd ef ghi'

In [18]:
# has to be a list of strings!

' '.join([10, 20, 30])

TypeError: ignored

**Exercise: Pig Latin Sentence**

Last week, we wrote a program that takes a single word from the user, and translates it into Pig Latin. This week, we'll be going one step further, allowing us to translate entire sentences. (All lowercase, no punctuation.)

Last week's code was:

word = input('Enter a word: ').strip()

if word[0] in 'aeiou':
    
    print(word + 'way')

else:

    print(word[1:] + word[0] + 'ay')

now we want to do the same for an entire sentence:

Ask the user to enter a sentece.

Translate the words in the sentence into Pig Latin.

Produce the final, translated version on a single line.

(Consider a list of words that you can then join).

In [19]:
sentence = input('Enter a sentence: ').strip()
output = []

for word in sentence.split():
  if word[0] in 'aeiou':
    output.append(word + 'way')

  else:
    output.append(word[1:] + word[0] + 'ay')

print(' '.join(output))

Enter a sentence: this is a test for you
histay isway away esttay orfay ouyay

**Tuples**

Strings are immutable, and contain only characters.

Lists are mutable, and can contain anything.

Tuples are immutable, and can contain anything.

Tuples are the third (and final) part of the "sequence" family in Python.

All three types share a lot of functionality:

1.len(x) returns their length

2.Use [] to retrieve one item

3.Use [] to retrieve a slic

4.Use a for loop to iterate over the elementse

In [20]:
# let's define some tuples!
# we use round parentheses and commas to create a tuple

t = (10, 20, 30, 40, 50)

In [21]:
t[0]

10

In [22]:
t[0]= '!'

TypeError: ignored

In [23]:
# Tuple unpacking

mylist = [10, 20, 30]

x = mylist
print(x)

[10, 20, 30]

In [24]:
x,y,z = mylist   # what happens now?

In [25]:
# this works because the number of elements in mylist is the SAME as the number of variables on the left.

x

10

In [27]:
y

20

In [28]:
z

30

In [29]:
# where do people use tuple unpacking?

x = 10
y = 20

# swap the variables
x,y = y,x

print(x)
print(y)

20
10

In [30]:
# here's an example of unpacking

s = 'abcd'
for index, one_character in enumerate(s):
    print(f'{index}, {one_character}')

0, a
1, b
2, c
3, d

In [31]:
for t in enumerate(s):
    print(t)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')